export APP_SERVER_BIND_ADDRESS=0.0.0.0:8081
export APP_ID=1234
export APP_INSTALLATION_ID=1233
export APP_PRIVATE_KEY_FILE=my.private-key.pem
export APP_CLIENT_SECRET=12345
export APP_WEBHOOK_SECRET=12345